:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .2s ease;
  }

  .baseLayout{
    box-sizing: border-box;
    height:calc(100vh - 3rem);
    margin-top: 3rem;
    width:100%;
    display: block;
  }
  
  .titleBar{
    margin: 0;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #3d3d3d;
  }
  
 
  
  
  @media (prefers-color-scheme: dark) {
    :root {
      color: #f6f6f6;
      background-color: #2f2f2f;
    }
  
    a:hover {
      color: #24c8db;
    }
  
    input,
    button {
      color: #ffffff;
      background-color: #0f0f0f98;
    }
  }